<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New program</title>
</head>
<body>
    <h1>Nouvelle demande de la part de {{ contact.prenom }} {{ contact.nom }}</h1>
    <p> {{ contact.message }} </p>
    <p>Son email: {{ contact.email }} </p>
    <p>Son téléphone: {{ contact.telephone }}</p>
</body>
</html>